[Unit]
Description=ulog accounting daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/uacctd
ExecStart=/usr/sbin/uacctd -f ${UACCTD_CONF} $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
