[Unit]
Description=OpenSSH Key Generation
RequiresMountsFor=/var /run

[Service]
ExecStartPre=-/bin/mkdir -p -m0755 /var/run/sshd
ExecStart=@LIBEXECDIR@/sshd_check_keys
Type=oneshot
RemainAfterExit=yes
